/dts-v1/;
/plugin/;

/ {
	overlay-name = "SDMMC3";
	jetson-header-name = "Jetson 40pin Header";
	compatible = "nvidia,p3542-0000+p3448-0003", "nvidia,p3449-0000-a02+p3448-0000-a02","nvidia,p3449-0000-a01+p3448-0000-a01", "nvidia,p3449-0000-b00+p3448-0002-b00", "nvidia,jetson-nano", "nvidia,tegra210";

	fragment@0 {
		target = <&sdmmc3>;
		__overlay__ {
			status = "okay";
			nvidia,vmmc-always-on;
			vmmc-supply = <&p3448_vdd_3v3_sd>;
		};
	};
};
